/* Reset */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

body, html {
  background-color: #EDCDC2;
  color: #405B6D;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

/* Buttons */
.btn-transparent {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
