/* Reset */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

body, html {
  background-color: #EDCDC2;
  color: #405B6D;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

/* Page layout */
/*.content {
  display: flex;
  -webkit-flex: row-wrap;
  -ms-flex: row-wrap;
  flex: row-wrap;
  width: 100vw;
  height: 100%;
  margin: 0 -0.5em;
}*/


/* Buttons */
.btn-transparent {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
