$background-color: #EDCDC2;
$font-family: 'Lato', sans-serif;

$footer-background-color:  rgba(99, 141, 121, 0.4);
$header-background-color:  rgba(99, 141, 121, 0.7);

$text-color: #405B6D;
$light-text-color: #FFF5E8;
$green-text-color:  #43775E;
$nav-arrow-color: rgba(236, 240, 241,1.0);
$comment-text-color: #5D7381;

$comment-border-color: #7E8D98;
